<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--meta http-equiv='X-UA-Compatible' content='IE=edge'-->
    <title>Uber Hack</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--link rel='stylesheet' type='text/css' media='screen' href='main.css'-->
    <!--script src='main.js'--><!--/script-->
</head>
<body>
    <!--
    Nome do evento
    Imagem do evento (?)
    Quando o evento vai acontecer
        data de inicio / hora de inicio
        data de termino / hora de termino
    Ingresso (pagou ou gratuito)
    Onde evento vai acontecer
        (mostrar endereço no google maps?)
    Descrição do evento
    Sobre o organizador
        Nome
        Descricao
    Categoria principal (tipo de evento)
    Quantidade estimada de usuários
    -->
    
    <!-- nav-bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">LOGO AQUI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- button trigger modal -->
            <a class="nav-link" href="#">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                CADASTRE-SE
              </button>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">SOBRE NÓS</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar eventos" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LUPA</button>
        </form>
      </div>
    </nav>
    
    <!-- home content -->
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">Oi coiso!</h1>
        <p class="lead">Cebrutius alguma coisa</p>
        <hr class="my-4">
        <p>Blablabla compre minha ideia</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
      </div>
    </div>
    
    <!-- registration content -->
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">CADASTRO</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Body here blabla</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">CADASTRAR EVENTO</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">FECHAR</button>
          </div>
        </div>
      </div>
    </div>
    
    3 exemplos de eventos aqui
    
    PARCEIROS
    
    6 parceiros
    
    CADASTRE-SE EMBAIXO??
    
    <!-- footer -->
    
    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
