/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .flueBg img {
  /* Set rules to fill background */
  max-height: 90%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: relative;
  top: 0;
  left: 0;
}

.titleImg img {
 width: 30em !important;
}
 
 .no-padding{
     padding: 0px !important;
 }

.no-margin{
 margin: 0px !important;
}

.blue-background{
 background-color: #4EB8A1;
}

.white{
 color: white;
}

.register-spacing{
 padding-top: 15px;
 padding-bottom: 20px;
}